.main-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}


.main-container .card{
    background-color: rgba(121, 122, 122, 0.41);
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border: 2px solid black;
    border-radius: 5px;
    width: 30%;
    min-width: 200px;
    max-width: 250px;
    padding: 10px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-container  .card .image-product{
    width: 80%;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}

.main-container  .card .price-product{
    color: red;
    margin: 5px;
}


.main-container  .card .quantity-product{
    margin: 10px;
}

.main-container  .card .btnAddToCard{
    border: 1px solid black;
    border-radius:5px
}

.main-container  .card .btnAddToCard:hover{
    background-color: rgba(180, 180, 180, 0.41);
}
