body{
  display: flex;
  justify-content: center;
  align-items: center;
}


@font-face{
  font-family: 'rock';
  src: url('FFF_Tusj.ttf');
}


/* ------- layer buttons----- */

#layer-btn{
  width: 500px;
  height: 500px;
  background-color: rgba(196, 106, 106, 0);
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#layer-btn button{
  width: 110px;
  height: 110px;
  margin: 10px;
  border: 1px solid  rgb(255, 255, 255);
  border-radius: 10px;
  transform: rotate(40deg);
  position: relative;
  top: 65px;
  left: 10px;
  z-index: 10;
  
}

#layer-btn button:hover{

  box-shadow: 
  5px 5px 10px rgb(56, 215, 255) inset ,
  -5px -5px 10px rgb(56, 215, 255) inset,
  10px 10px 30px 10px rgb(22, 178, 218) inset,
  -10px -10px 30px 10px rgb(255, 255, 255) inset,
  10px 10px 30px 10px rgb(255, 255, 255) inset,
  10px 10px 30px 10px  rgb(22, 178, 218),
  -10px -10px 30px 10px rgba(22, 179, 218, 0.397) ;
  
}


#layer-btn button img{
  width: 100%;
  height: 100%;
}


/*------------------layer question sign-----------*/
#container-layer-question-sign{
  width: 600px;
  height: 600px;
  background-color: rgba(0, 128, 0, 0);
  position:absolute;

}

#layer-question-sign{
  width: 150px;
  height: 150px;
  font-size: 65px;
  font-family: rock;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 400px;
  top: 220px;
  display: flex;
  justify-content: center;
  align-items: center;

}




/* ---------------layer counter---------- */



#layer-counter{
  width: 500px;
  height: 500px;
  font-family: rock;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
  background-color: rgba(255, 0, 0, 0);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* --------layer name --------*/
#layer-name{
  width: 600px;
  height: 600px;
  background-color: rgba(172, 10, 10, 0);
  position: absolute;
  color: white;
  font-family: rock;
  font-size: 30px;
  display: flex;
  justify-content: flex-start;

}

#layer-name #name-user{
  color:rgb(240, 240, 240);
  position: absolute;
  top: -30px;
  left: 20px;
}